.posts li { cursor: default; }
.posts li:hover { background: #ecf0f1; } 
.list-group-item.active, 
.list-group-item.active:hover, 
.list-group-item.active:focus { 
    background-color: #ecf0f1;
    border-color: #ecf0f1; 
    color: #2c3e50;
}

.extraclass { visibility: hidden; }

#postslist{
    position: absolute;
    top: 0px;
}

#postbody{
    position: absolute;
    top: 0px;
}
.postscontainer{
    position: relative;
}
.mybtn{
    margin: 20px 0;
    width: fit-content;
    padding: 6px 12px;
    margin-left: 0px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.nav{
    text-align: center;
}
.material-icon{
    font-size:32px;
    color: red;
}