    <div class="postscontainer row">
    <div id="postlist" [class.extraclass]="hidediv" class="container col-md-7">     
        <app-pagination [items]="posts" (page-changed)="onPageChanged($event)"></app-pagination>
        <ul class="list-group posts">
            <li *ngFor="let post of pagedPosts" class="list-group-item"
             [class.active]="currentPost == post" (click)="select(post)"  >
             Post no. {{ post.id }} : {{ post.title }}
            </li>
        </ul>
    </div>

    <div id="postbody" [class.extraclass]="!hidediv" class="container col-md-7">
        <div *ngIf="currentPost" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Post no. {{ currentPost.id }} : {{ currentPost.title }}</h3>
            </div>
            <div class="panel-body">
                <p>{{ currentPost.body }}</p>
                <hr/>
            </div>
        </div>
        <input type="button" (click)="goback()" value="Back To Posts List">
    </div>
</div>
